<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments.html :: head" th:remove="tag"></div>
    <link rel="stylesheet" href="/css/settings.css">
</head>

<body>

<nav th:replace="fragments.html :: main-nav"></nav>

<div class="container my-3">
    <div th:replace="fragments.html :: error-message"></div>
    <div th:replace="fragments.html :: success-message"></div>
    <div th:replace="fragments.html :: settings-menu(currentMenu = 'notification')"></div>
    <div class="bg-light border-dark p-5">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-4 mt-1 text-center settings-title">알림 설정</h4>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 p-4">
                <form th:object="${notificationForm}" th:action="@{/settings/notification}" method="post" novalidate>
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading">판매자로부터 알림</h4>
                        <p>판매자로부터 읽지 않은 채팅을 알림으로 받고 싶으시다면 선택해주세요.</p>
                        <hr>
                        <p class="mb-0">수신 알림은 화면 상단에서 확인하실 수 있습니다.</p>
                    </div>
                    <div class="form-group mt-4">
                        <div class="custom-control custom-control-inline custom-radio">
                            <input th:field="*{sentSellerChatMessages}" type="checkbox" class="custom-control-input" id="sentSellerChatMessages">
                            <label class="custom-control-label" for="sentSellerChatMessages">수신하기</label>
                        </div>
                    </div>
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading">구매자로부터 알림</h4>
                        <p>구매자로부터 읽지 않은 채팅을 알림으로 받고 싶으시다면 선택해주세요.</p>
                        <hr>
                        <p class="mb-0">수신 알림은 화면 상단에서 확인하실 수 있습니다.</p>
                    </div>
                    <div class="form-group mt-4">
                        <div class="custom-control custom-control-inline custom-radio">
                            <input th:field="*{sentBuyerChatMessages}" type="checkbox" class="custom-control-input" id="sentBuyerChatMessages">
                            <label class="custom-control-label" for="sentBuyerChatMessages">수신하기</label>
                        </div>
                    </div>
                    <div class="form-group mt-4 mb-0">
                        <button type="submit" class="btn btn-primary btn-block"> 변경하기 </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments.html :: main-footer"></footer>

</body>
</html>