<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments.html :: head" th:remove="tag"></div>
    <link rel="stylesheet" href="/css/settings.css">
</head>

<body>

<nav th:replace="fragments.html :: main-nav"></nav>

<div class="container my-3">
    <div th:replace="fragments.html :: error-message"></div>
    <div th:replace="fragments.html :: success-message"></div>
    <div th:replace="fragments.html :: settings-menu(currentMenu = 'password')"></div>
    <div class="bg-light border-dark p-5">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-4 mt-1 text-center settings-title">비밀번호 확인</h4>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4 p-4">
                <form class="needs-validation" th:action="@{/settings/password-confirm}" method="post" novalidate>
                    <div class="form-group mt-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input class="form-control" name="password" type="password" placeholder="현재 비밀번호를 입력하세요." required />
                            <small class="invalid-feedback">비밀번호를 알맞게 입력하세요.</small>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <button type="submit" class="btn btn-primary btn-block"> 확인 </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments.html :: main-footer"></footer>

<script th:replace="fragments.html :: form-validation"></script>

</body>
</html>