<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments.html :: head" th:remove="tag"></div>
    <link rel="stylesheet" href="/css/settings.css">
</head>

<body>

<nav th:replace="fragments.html :: main-nav"></nav>

<div class="container my-3">
    <div th:replace="fragments.html :: success-message"></div>
    <div th:replace="fragments.html :: settings-menu(currentMenu = 'profile')"></div>
    <div class="bg-light border-dark p-5">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-4 mt-1 text-center settings-title"><span th:text="${account.nickname}">닉네임</span>님의 프로필</h4>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div th:replace="fragments.html :: image-editor(header = '프로필 이미지', type = 'profileForm')"></div>
            </div>
            <div class="col-sm-4 p-4">
                <form class="needs-validation" th:object="${profileForm}" th:action="@{/settings/profile}" method="post" novalidate>
                    <div class="form-group mt-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user-circle"></i> </span>
                            </div>
                            <input th:field="*{nickname}" class="form-control" name="nickname" type="text"
                                   placeholder="변경할 닉네임을 입력하세요." minlength="2" max="20" required />
                            <small class="invalid-feedback">닉네임을 알맞게 입력하세요.</small>
                        </div>
                        <small th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" class="form-text text-danger">잘못된 닉네임</small>
                        <small class="form-text text-muted">
                            공백없이 글자 및 숫자로 2자이상 20자이내로 입력하세요. 닉네임은 중복이 되지 않습니다.
                        </small>
                    </div>
                    <div class="form-group mt-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-quote-left"></i> </span>
                            </div>
                            <input th:field="*{greetings}" class="form-control" name="greetings" type="text"
                                   placeholder="인사말을 입력하세요." max="50" required />
                            <div class="input-group-append">
                                <span class="input-group-text"> <i class="fa fa-quote-right"></i> </span>
                            </div>
                            <small class="invalid-feedback">인사말을 알맞게 입력하세요.</small>
                        </div>
                        <small th:if="${#fields.hasErrors('greetings')}" th:errors="*{nickname}" class="form-text text-danger">잘못된 닉네임</small>
                        <small class="form-text text-muted">
                            간단히 50자이내로 입력하세요. 다른 사람에게 보여주고 싶은 말을 적어보세요.
                        </small>
                    </div>
                    <div class="form-group">
                        <input th:field="*{profileImage}" id="profileImage" class="form-control" type="hidden" />
                    </div>
                    <div class="form-group mt-4 mb-0">
                        <button type="submit" class="btn btn-primary btn-block"> 변경하기 </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments.html :: main-footer"></footer>

<script th:replace="fragments.html :: form-validation"></script>
<script th:include="fragments.html :: image-cropper(imageId = 'profileImage')" th:remove="tag"></script>

</body>
</html>