<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments.html :: head" th:remove="tag"></div>
    <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.min.css" />
    <style>
        .container {
            max-width: 100%;
        }
    </style>
</head>

<body>

<nav th:replace="fragments.html :: main-nav"></nav>

<div class="container my-3">
    <div th:replace="fragments.html :: error-message"></div>
    <div th:replace="fragments.html :: success-message"></div>
    <div th:replace="fragments.html :: garment-menu(currentMenu = 'registration')"></div>
    <div class="bg-light border-dark p-5">
        <div th:include="fragments.html :: garment-form(formUrl = '/new-garment')" th:remove="tag"></div>
    </div>
</div>

<footer th:replace="fragments.html :: main-footer"></footer>

<script th:replace="fragments.html :: form-validation"></script>
<script th:include="fragments.html :: editor-script" th:remove="tag"></script>
<script th:include="fragments.html :: image-cropper(imageId = 'garmentImage')" th:remove="tag"></script>
<script th:replace="fragments.html :: ajax-csrf-token"></script>
<script th:replace="fragments.html :: ajax-area-info(formType = 'post')"></script>

</body>
</html>