<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>뉴마켓</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <style>
        * {
            padding: 0;
            margin: 0;
            outline: none;
        }
        body {
            background-color: #e1e1e1;
            font-family: Arial, Helvetica, sans-serif;
        }
        a {
            color: #0c99d5;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container d-flex justify-content-between px-0">
        <a class="navbar-brand" th:href="@{/}">
            <img src="/images/logo.png" alt="로고 이미지" width="100" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarHeader">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <form class="form-inline" th:action="@{/search/product}" method="get">
                        <div class="input-group">
                            <input class="form-control" name="keyword" type="search" placeholder="상품명 검색" aria-label="상품명 검색" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/sign-up}"><i class="fa fa-user-plus" aria-hidden="true"></i> 회원가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}"><i class="fa fa-sign-in" aria-hidden="true"></i> 로그인</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div th:if="${error}" class="container mt-5">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading text-center">이메일 인증 실패!</h4>
        <div class="px-5 py-2">
            잘못된 이메일 인증 링크입니다.
        </div>
    </div>
</div>

<div th:if="${error == null}" class="container mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading text-center">이메일 인증 완료!</h4>
        <div class="px-5 py-2">
            <p>
                환영합니다. <span th:text="${nickname}"></span>님 <br />
                <span th:text="${nickname}"></span>님의 이메일(<span th:text="${email}"></span>)을 확인했습니다.
                이제부터 물건을 사고 파실 수 있습니다.
            </p>
            <hr />
            <a th:href="@{/}">메인화면으로 이동</a>
        </div>
    </div>
</div>

<footer class="py-4 bg-dark text-white-50 fixed-bottom">
    <div class="container">
        <img src="/images/logo_white.png" alt="로고 이미지" width="120" />
        <small class="d-block text-center">뉴마켓 &copy; 2020</small>
    </div>
</footer>

</body>
</html>