<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>뉴마켓</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
</head>

<nav th:fragment="main-nav" class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container d-flex justify-content-between px-0">
        <a class="navbar-brand" th:href="@{/}">
            <img src="/images/logo.png" alt="로고 이미지" width="100" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarHeader">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <form class="form-inline" th:action="@{/search/product}" method="get">
                        <div class="input-group">
                            <input class="form-control" name="keyword" type="search" placeholder="상품명 검색" aria-label="상품명 검색" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/sign-up}"><i class="fa fa-user-plus" aria-hidden="true"></i> 회원가입</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/login}"><i class="fa fa-sign-in" aria-hidden="true"></i> 로그인</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg th:if="${#strings.isEmpty(account?.profileImage)}" th:data-jdenticon-value="${account.nickname}"
                             class="rounded border bg-light" width="24" height="24" />
                        <img th:if="${!#strings.isEmpty(account?.profileImage)}" th:src="${account.profileImage}"
                             class="rounded border" width="24" height="24" />
                    </a>
                    <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="userDropdown">
                        <!-- TODO: th:href -->
                        <a class="dropdown-item" th:href="@{/settings/profile}"><span th:text="${account?.nickname}"></span></a>
                        <a class="dropdown-item" href="#">구매 정보보기</a>
                        <a class="dropdown-item" href="#">판매 정보보기</a>
                        <a class="dropdown-item" th:href="@{/new-garment}">옷 판매하기</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/settings/profile">내 정보 변경하기</a>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="dropdown-item btn btn-link">로그아웃</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<ul th:fragment="settings-menu(currentMenu)" class="list-group list-group-horizontal-sm">
    <a class="list-group-item list-group-item-action font-weight-bold font-italic" th:href="@{/settings/profile}"
       th:classappend="${currentMenu == 'profile'}? active">프로필</a>
    <a class="list-group-item list-group-item-action font-weight-bold font-italic" th:href="@{/settings/password-confirm}"
       th:classappend="${currentMenu == 'password'}? active">비밀번호</a>
    <a class="list-group-item list-group-item-action font-weight-bold font-italic" th:href="@{/settings/resend-email-certification}"
       th:classappend="${currentMenu == 'email-certification'}? active">이메일 인증</a>
    <a class="list-group-item list-group-item-action font-weight-bold font-italic" th:href="@{/settings/notification}"
       th:classappend="${currentMenu == 'notification'}? active">알림 설정</a>
    <a class="list-group-item list-group-item-action font-weight-bold font-italic" th:href="@{/settings/profile}"
       th:classappend="${currentMenu == 'signOut'}? active">계정 탈퇴</a>
</ul>

<ul th:fragment="garment-menu(currentMenu)" class="list-group list-group-horizontal-sm">
    <a class="list-group-item list-group-item-action font-weight-bold font-italic" th:href="@{/new-garment}"
       th:classappend="${currentMenu == 'registration'}? active">판매할 옷 등록하기</a>
    <a class="list-group-item list-group-item-action font-weight-bold font-italic" th:href="@{/garments/management}"
       th:classappend="${currentMenu == 'management'}? active">수정/삭제</a>
</ul>

<div th:fragment="success-message" th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>처리 완료!</strong> <span th:text="${successMessage}">메시지</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<div th:fragment="error-message" th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>처리 실패!</strong> <span th:text="${errorMessage}">메시지</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div th:fragment="image-editor(header, type)" class="card text-center">
    <div class="card-header">
        <span th:text="${header}"></span>
    </div>
    <div id="current-image" class="mt-3">
        <img th:if="${type == 'garmentForm'}" th:src="${#strings.isEmpty(garmentForm.image)} ? '/images/no_image.png' : ${garmentForm.image}"
             class="border" width="250" height="250" alt="&times;" />
        <svg th:if="${type == 'profileForm' && #strings.isEmpty(profileForm.profileImage)}" th:data-jdenticon-value="${account.nickname}"
             class="rounded border bg-light" width="125" height="125" />
        <img th:if="${type == 'profileForm' && !#strings.isEmpty(profileForm.profileImage)}" th:src="${profileForm.profileImage}"
             class="rounded border" width="125" height="125" alt="&times;" />
    </div>
    <div id="new-image" class="mt-3"></div>
    <div class="card-body">
        <div class="custom-file">
            <input id="image-file" class="custom-file-input" type="file" />
            <label for="image-file" class="custom-file-label">이미지 변경</label>
        </div>
        <div id="new-image-control" class="mt-3">
            <button class="btn btn-outline-primary btn-block" id="cut-button">자르기</button>
            <button class="btn btn-outline-success btn-block" id="confirm-button">확인</button>
            <button class="btn btn-outline-warning btn-block" id="reset-button">취소</button>
        </div>
        <div id="cropped-new-image" class="mt-3"></div>
    </div>
</div>

<div th:fragment="garment-form(formUrl)">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div th:replace="fragments.html :: image-editor(header = '옷 이미지', type = 'garmentForm')"></div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-8 p-4">
            <form class="needs-validation" th:object="${garmentForm}" th:action="@{${formUrl}}" method="post" novalidate>
                <div class="row form-group mt-4">
                    <div class="col-sm-10">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> 글 제목 </span>
                            </div>
                            <input th:field="*{title}" class="form-control" name="title" type="text"
                                   placeholder="글 제목을 입력하세요." minlength="1" max="50" required />
                            <small class="invalid-feedback">제목을 알맞게 입력하세요.</small>
                        </div>
                        <small th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="form-text text-danger">잘못된 제목</small>
                        <small class="form-text text-muted">
                            제목은 필수입니다. 50자 이내로 간단하게 입력해주세요.
                        </small>
                    </div>
                </div>
                <div class="row form-group mt-4">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> 종류 </span>
                            </div>
                            <select th:field="*{type}" class="browser-default custom-select" name="type" required>
                                <option value="" selected hidden>선택하세요</option>
                                <option th:each="g : ${garmentType}" th:value="${g}" th:text="${g}"></option>
                            </select>
                            <small class="invalid-feedback">종류를 선택하세요.</small>
                        </div>
                        <small th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="form-text text-danger">잘못된 타입</small>
                        <small class="form-text text-muted">
                            옷에 해당하는 종류를 선택해주세요. 종류별로 옷을 볼 수 있습니다.
                        </small>
                    </div>
                </div>
                <div class="row form-group mt-4">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> 희망 가격 </span>
                            </div>
                            <input th:field="*{price}" class="form-control" name="price" type="number"
                                   placeholder="희망하는 가격을 입력하세요." min="1000" max="1000000000" step="1000" required />
                            <div class="input-group-append">
                                <span class="input-group-text"> 원 </span>
                            </div>
                            <small class="invalid-feedback">가격을 알맞게 입력하세요.</small>
                        </div>
                        <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="form-text text-danger">잘못된 가격</small>
                        <small class="form-text text-muted">
                            팔기 원하는 가격을 입력해주세요. 1000원 단위로만 가능합니다.
                        </small>
                    </div>
                </div>
                <div class="row form-group mt-4">
                    <div class="col-sm-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> 시/도 </span>
                            </div>
                            <select th:field="*{cityProvince}" name="cityProvince" id="cityProvince"
                                    class="browser-default custom-select" required>
                                <option value="" selected hidden>선택하세요</option>
                                <option th:each="cp : ${cityProvinceList}" th:value="${cp}" th:text="${cp}"></option>
                            </select>
                            <small class="invalid-feedback">시/도를 선택하세요.</small>
                        </div>
                        <small th:if="${#fields.hasErrors('cityProvince')}" th:errors="*{cityProvince}" class="form-text text-danger">잘못된 지역</small>
                        <small class="form-text text-muted">
                            거래를 할 지역을 선택하세요.
                        </small>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> 시/군/구 </span>
                            </div>
                            <select th:field="*{cityCountryDistrict}" name="cityCountryDistrict" id="cityCountryDistrict"
                                    class="browser-default custom-select" required>
                                <option value="" selected hidden>선택하세요</option>
                                <option th:if="${cityCountryDistrictList}" th:each="ccd : ${cityCountryDistrictList}" th:value="${ccd}" th:text="${ccd}"></option>
                            </select>
                            <small class="invalid-feedback">시/군/구를 선택하세요.</small>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> 읍/면/동 </span>
                            </div>
                            <select th:field="*{townTownshipNeighborhood}" name="townTownshipNeighborhood" id="townTownshipNeighborhood"
                                    class="browser-default custom-select" required>
                                <option value="" selected hidden>선택하세요</option>
                                <option th:if="${townTownshipNeighborhoodList}" th:each="ttn : ${townTownshipNeighborhoodList}" th:value="${ttn}" th:text="${ttn}"></option>
                            </select>
                            <small class="invalid-feedback">시/도를 선택하세요.</small>
                        </div>
                    </div>
                </div>
                <div class="row form-group mt-4">
                    <div class="col-12">
                        <textarea th:field="*{content}" class="form-control editor" name="content" type="textarea"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input th:field="*{image}" id="garmentImage" class="form-control" type="hidden" />
                </div>
                <div class="row justify-content-between form-group mt-4 mb-0">
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary btn-block"> 등록하기 </button>
                    </div>
                    <div class="col-sm-2">
                        <button type="reset" class="btn btn-danger btn-block"> 취소 </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:fragment="main-footer" class="py-4 bg-dark text-white-50">
    <div class="container">
        <img src="/images/logo_white.png" alt="로고 이미지" width="120" />
        <p class="float-right">
            <a href="#" class="btn btn-outline-light">top</a>
        </p>
        <small class="d-block text-center">뉴마켓 &copy; 2020</small>
    </div>
</footer>

<script th:fragment="form-validation" type="application/javascript">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) { // 유효하지 않으면 not submit
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    }());
</script>

<script th:fragment="ajax-area-info" type="application/javascript">
    $(function () {
        let $cityProvince = $("#cityProvince");
        let $cityCountryDistrict = $('#cityCountryDistrict');
        let $townTownshipNeighborhood = $('#townTownshipNeighborhood');

        $cityProvince.change(function() {
            $.ajax({
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                method: "POST",
                url: "/new-garment/cityCountryDistrict",
                data: JSON.stringify({ 'cityProvince': $cityProvince.val() })
            }).done(function (data, status) {
                if (data !== null) {
                    $cityCountryDistrict.html('');
                    $townTownshipNeighborhood.html('');
                    $('<option>').attr({
                        selected: true,
                        hidden: true,
                        value: ''
                    }).text('선택하세요').appendTo($cityCountryDistrict);
                    $('<option>').attr({
                        selected: true,
                        hidden: true,
                        value: ''
                    }).text('선택하세요').appendTo($townTownshipNeighborhood);
                }
                $.each(data, function (idx, el) {
                    $cityCountryDistrict.append(new Option(el, el));
                });
            });
        });

        $cityCountryDistrict.change(function () {
            $.ajax({
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                method: "POST",
                url: "/new-garment/townTownshipNeighborhood",
                data: JSON.stringify({
                    'cityProvince': $cityProvince.val(),
                    'cityCountryDistrict': $cityCountryDistrict.val()
                })
            }).done(function (data, status) {
                if (data !== null) {
                    $townTownshipNeighborhood.html('');
                    $('<option>').attr({
                        selected: true,
                        hidden: true,
                        value: ''
                    }).text('선택하세요').appendTo($townTownshipNeighborhood);
                }
                $.each(data, function (idx, el) {
                    $townTownshipNeighborhood.append(new Option(el, el));
                });
            });
        });
    });
</script>

<div th:fragment="image-cropper(imageId)">
    <link rel="stylesheet" href="/node_modules/cropper/dist/cropper.min.css" />
    <script src="/node_modules/cropper/dist/cropper.min.js"></script>
    <script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
    <script type="application/javascript">
        $(function () {
            let cropper = '';
            let $cutBtn = $("#cut-button");
            let $confirmBtn = $("#confirm-button");
            let $resetBtn = $("#reset-button");
            let $imageFile = $("#image-file");
            let $currentImage = $("#current-image");
            let $croppedNewImage = $("#cropped-new-image");
            let $newImage = $("#new-image");
            const imageId = "#[(${imageId})]";
            let $image = $(imageId);

            $newImage.hide();
            $cutBtn.hide();
            $confirmBtn.hide();
            $resetBtn.hide();

            $imageFile.change(function (e) {
                if (e.target.files.length === 1) {
                    const reader = new FileReader();
                    reader.onload = e => {
                        if (e.target.result) {  // dataURL
                            if (!e.target.result.startsWith("data:image")) {
                                alert("이미지 파일을 선택하세요.");
                                return;
                            }
                            let img = document.createElement("img");
                            img.id = 'new-img';
                            img.src = e.target.result;
                            img.setAttribute('max-width', '100%');

                            $newImage.html(img);
                            $newImage.show();
                            $currentImage.hide();

                            let $newImg = $(img);
                            $newImg.cropper({ aspectRatio: 1 });
                            cropper = $newImg.data('cropper');

                            $cutBtn.show();
                            $confirmBtn.hide();
                            $resetBtn.show();
                        }
                    };
                    reader.readAsDataURL(e.target.files[0]);
                }
            });

            $cutBtn.click(function () {
                let dataUrl = cropper.getCroppedCanvas().toDataURL();
                if (dataUrl.length > 5 * 1024 * 1024) {
                    alert("이미지 파일이 너무 큽니다. 5MB보다 작은 파일을 사용하세요. 현재 이미지 크기는 " + dataUrl.length + " 입니다.");
                    return;
                }

                let croppedImg = document.createElement("img");
                croppedImg.id = 'cropped-new-img';
                croppedImg.src = dataUrl;
                croppedImg.width = 125;

                $croppedNewImage.html(croppedImg);
                $croppedNewImage.show();
                $confirmBtn.show();
                $confirmBtn.click(function () {
                    $newImage.html(croppedImg);
                    $cutBtn.hide();
                    $confirmBtn.hide();
                    $image.val(dataUrl);
                });
            });

            $resetBtn.click(function () {
                $cutBtn.hide();
                $confirmBtn.hide();
                $resetBtn.hide();
                $currentImage.show();
                $croppedNewImage.hide();
                $newImage.hide();
                $imageFile.val('');
                $image.val('');
            });
        });
    </script>
</div>

<script th:fragment="ajax-csrf-token" type="application/javascript" th:inline="javascript">  // ajax request csrf token
    $(function () {
        const csrfToken = /*[[${_csrf.token}]]*/ null;
        const csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>

<div th:fragment="editor-script">
    <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
    <script type="application/javascript">
        $(function () {
            $('.editor').summernote({
                fontName: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
                placeholder: '추가 설명이 필요한 부분을 이곳에 기재해 주세요.',
                tabSize: 2,
                height: 300
            });
        });
    </script>
</div>

<div th:fragment="korea-date-time">
    <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
    <script type="application/javascript">
        $(function() {
            moment.locale('ko');
            $(".date-time").text(function (idx, dateTime) {
                return moment(dateTime, "YYYY-MM-DD hh:mm a").format('LLL');
            });
        });
    </script>
</div>

<script th:fragment="price-with-comma" type="application/javascript">
    $(function () {
        let value = $('#garment-price').text();
        $('#garment-price').text(value.replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    });
</script>

</html>