<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>뉴마켓</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
</head>

<nav th:fragment="main-nav" class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container d-flex justify-content-between px-0">
        <a class="navbar-brand" th:href="@{/}">
            <img src="/images/logo.png" alt="로고 이미지" width="100" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarHeader">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <form class="form-inline" th:action="@{/search/product}" method="get">
                        <div class="input-group">
                            <input class="form-control" name="keyword" type="search" placeholder="상품명 검색" aria-label="상품명 검색" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/sign-up}"><i class="fa fa-user-plus" aria-hidden="true"></i> 회원가입</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/login}"><i class="fa fa-sign-in" aria-hidden="true"></i> 로그인</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg th:if="${#strings.isEmpty(account?.profileImage)}" th:data-jdenticon-value="${#authentication.name}"
                             class="rounded border bg-light" width="24" height="24" />
                        <img th:if="${!#strings.isEmpty(account?.profileImage)}" th:src="${account.profileImage}"
                             class="rounded border" width="24" height="24" />
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <!-- TODO: th:href -->
                        <a class="dropdown-item" href="#"><span th:text="${account?.nickname}"></span></a>
                        <a class="dropdown-item" href="#">구매 정보보기</a>
                        <a class="dropdown-item" href="#">판매 정보보기</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">내 정보 변경하기</a>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="dropdown-item btn btn-link">로그아웃</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<footer th:fragment="main-footer" class="py-4 bg-dark text-white-50">
    <div class="container">
        <img src="/images/logo_white.png" alt="로고 이미지" width="120" />
        <p class="float-right">
            <a href="#" class="btn btn-outline-light">top</a>
        </p>
        <small class="d-block text-center">뉴마켓 &copy; 2020</small>
    </div>
</footer>

<script th:fragment="form-validation" type="application/javascript">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) { // 유효하지 않으면 not submit
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    }());
</script>

</html>