<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments.html :: head" th:remove="tag"></div>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<nav th:replace="fragments.html :: main-nav"></nav>

<section class="jumbotron text-center main-section-1">
    <div class="container">
        <img class="float-left" src="/images/example.png" alt="메인 페이지 사진1" width="467" height="525" />
        <div class="float-right text-left">
            <h1 class="main-title">오늘은 어떤 옷이 있을까?</h1>
            <p class="lead text-muted">
                머리부터 발끝까지 일상의 옷들을 구매하고 판매해보세요.<br />
                매일 새로운 옷들이 기다리고 있답니다.
            </p>
        </div>
    </div>
</section>

<section class="jumbotron text-center main-section-2">
    <div class="container">
        <img class="float-right" src="/images/example.png" alt="메인 페이지 사진2" width="467" height="525" />
        <div class="float-left text-left">
            <h1 class="main-title">서비스 이용하기</h1>
            <p>
                <a th:href="@{/new-product}" class="btn btn-info">상품 등록하기</a>
                <a th:href="@{/products}" class="btn btn-info">전체 상품보기</a>
                <a th:href="@{/products}" class="btn btn-info">내가 원하는 상품보기</a>
            </p>
        </div>
    </div>
</section>

<div class="container">
    <div class="row justify-content-center pt-3">
        <h1 class="main-title">인기 상품보기</h1>
<!--        최근 인기 매물 (카드 뷰로 db 에서 조회해서 보여줌) -->
    </div>
</div>

<footer th:replace="fragments.html :: main-footer"></footer>

</body>
</html>