<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments.html :: head" th:remove="tag"></div>
    <style>
        .container {
            max-width: 100%;
        }
        .closed-card {
            opacity: .5;
        }
    </style>
</head>

<body>

<nav th:replace="fragments.html :: main-nav"></nav>

<div class="container my-3">
    <div th:replace="fragments.html :: error-message"></div>
    <div th:replace="fragments.html :: success-message"></div>
    <div class="bg-light border-dark p-5">
        <div th:replace="fragments.html :: garments-card-view"></div>
        <div th:replace="fragments.html :: pagenation-btn(url = '/search', keywords = ${keywords})"></div>
    </div>
</div>

<footer th:replace="fragments.html :: main-footer"></footer>

<script th:include="fragments.html :: korea-date-time" th:remove="tag"></script>
<script th:replace="fragments.html :: price-with-comma"></script>

</body>
</html>